$font-list: "Raleway", "Dosis", "Lato";
// Three comma separated elements

$pad-list: 10px 8px 12px;
// Three space separated elements

$multi-list: "Roboto", 15px 1.3em;
// This multi-list has two lists.
