.test1 {
  width: 50%;
}

.test2 {
  width: 16px;
}

.test3 {
  width: 19px;
}

.test4 {
  width: 13px;
}

.test5 {
  width: 8.9px;
}

.test6 {
  width: 3;
}

.test7 {
  width: 300%;
}

.test8 {
  width: "0.308%";
}
