<template>
  <div class="{{kebabCase name}}-component">
    <h2>{{pascalCase name}} Component</h2>
  </div>
</template>

<script>
export default {
  name: '{{pascalCase name}}Component'
};
</script>

<style scoped>
</style>