@charset "UTF-8";
/*
为RGB颜色提供六种函数
rgb($red,$green,$blue)：根据红、绿、蓝三个值创建一个颜色；
rgba($red,$green,$blue,$alpha)：根据红、绿、蓝和透明度值创建一个颜色；
red($color)：从一个颜色中获取其中红色值；
green($color)：从一个颜色中获取其中绿色值；
blue($color)：从一个颜色中获取其中蓝色值；
mix($color-1,$color-2,[$weight])：把两种颜色混合在一起。


更多颜色函数参考 https://www.sass.hk/skill/sass25.html
*/
.test1 {
  color: #c82858;
}

.test2 {
  color: rgba(200, 40, 88, 0.65);
}

.test3 {
  color: 200;
}

.test4 {
  color: 40;
}

.test5 {
  color: 88;
}

.test6 {
  color: rgba(200, 40, 80, 0.65105);
}
