<template>
  <div class="{{camelCase name}}">
    <h1>{{pascalCase name}} Component</h1>
  </div>
</template>

<script>
import './{{pascalCase name}}.css';

export default {
  name: '{{pascalCase name}}'
};
</script>

<style scoped>
</style>
