#content {
  article {
    h1 {
      color: #333;
    }
    p {
      margin-bottom: 1.4em;
    }
  }
  aside {
    background-color: #eee;
  }
}

// 父选择器的标识符&
article a {
  color: blue;
  &:hover {
    color: red;
  }
}

// 群组选择器的嵌套
.container {
  h1,
  h2,
  h3 {
    margin-bottom: 0.8em;
  }
}
nav,
aside {
  a {
    color: blue;
  }
}

//子组合选择器和同层组合选择器：>、+和~
article {
  ~ article {
    border-top: 1px dashed #ccc;
  }
  > section {
    background: #eee;
  }
  dl > {
    dt {
      color: #333;
    }
    dd {
      color: #555;
    }
  }
  nav + & {
    margin-top: 0;
  }
}

// 嵌套属性
nav {
  border: {
    style: solid;
    width: 1px;
    color: #ccc;
  }
}
