<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Root Config</title>
  <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>

  <script type="systemjs-importmap">
    {
      "imports": {
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js"
      }
    }
  </script>
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js" as="script">


  <!-- 2. 加载wtm-root-config.js -->
  <% if (isLocal) { %>
    <script type="systemjs-importmap">
      {
        "imports": {
        "@wtm/root-config": "//localhost:9000/wtm-root-config.js",
        "@wtm/react": "//localhost:3000/wtm-react.js",
        "@wtm/vue": "//localhost:4000/js/app.js"
      }
    }
  </script>
    <% } %>



      <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
      <% if (isLocal) { %>
        <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
        <% } else { %>
          <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
          <% } %>
</head>

<body>

  <main>
    <a onclick="go('/')">去基座项目</a>
    <a onclick="go('/react')">去react项目</a>
    <a onclick="go('/vue')">去vue项目</a>
  </main>
  <script>
    function go(url) {
      window.history.pushState({}, null, url)
    }
    // 1.加载 @wtm/root-config'
    System.import('@wtm/root-config');
  </script>
</body>

</html>