// 父选择器的标识符&
// & 必须作为选择器的第一个字符，其后可以跟随后缀生成复合的选择器
article a {
  color: blue;
  &:hover {
    color: red;
  }
}

.element {
  > .dialog {
      color: red;
  }
}


$var : "value";
/* multiline comments #{$var} */